body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 2px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}
.container {
  flex: justify-content-center;
}
.description {
  white-space: pre-wrap;
}

.time-block {
  text-align: center;
  border-radius: 7%;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid whitesmoke;
}

.hour {
  background-color: #ffffff;
  color: #864272;
  border-top: 1px dashed #000000;
}

.past {
  background-color: #ac9e9e;
  color: whitesmoke;
}

.present {
  background-color: #d8837f;
  color: whitesmoke;
}

.future {
  background-color: #caebca;
  color: whitesmoke;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 10%;
  border-bottom-right-radius: 10%;
  background-color: whitesmoke;
  color: non;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
  color: skyblue;
}
